<!DOCTYPE html>
<html>
  <head>
    <title>ReviewApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-container">
        <div class="header-logo">
          <h1><%= link_to("REVIEW APP", "/") %></h1>
        </div>
        <ul class="header-menus">
          <li><%= link_to("About", "/about")%></li>
          <li><%= link_to("Index", reviews_path) %></li>
          <li><%= link_to("Review", new_review_path) %></li>
        </ul>
      </div>
    </header>

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
