<!DOCTYPE html>
<html>
  <head>
    <title>ReviewApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-container">
        <div class="header-logo">
          <% if @current_user %>
            <h1><%= link_to(reviews_path) do %>REVIEW APP<% end %></h1>
          <% else %>
            <h1><%= link_to("/") do %>REVIEW APP<% end %></h1>
          <% end %>
        </div>
        <ul class="header-menus">
          <% if @current_user %>
            <li>
              <%= link_to(user_path(@current_user.id)) do %>
                <%= @current_user.name %>
              <% end %>
            </li>
            <li><%= link_to(reviews_path) do %>レビューリスト<% end %></li>
            <li><%= link_to(users_path) do %>ユーザリスト<% end %></li>
            <li><%= link_to(new_review_path) do %>レビューする<% end %></li>
            <li><%= link_to(logout_url, {method: :post}) do %>ログアウト<% end %></li>
          <% else %>
            <li><%= link_to("/about") do %>REVIEW APPとは<% end %></li>
            <li><%= link_to(new_user_path) do %>新規登録<% end %></li>
            <li><%= link_to(login_url) do %>ログイン<% end %></li>
          <% end %>
        </ul>
      </div>
    </header>

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
